.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

    &__me {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 2rem;
        display: grid;
        place-items: center;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            margin: 0 0 1.5rem;
            color: var(--color-light);
        }
    }

}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;

        &__me {
            width: 50%;
            margin: 2rem auto 4rem;
        }

        &__content p {
            margin: 1rem 0 1.5rem;
        }
    }

}

/* =============== MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
    .about_container {

        &__me {
            width: 65%;
            margin: 0 auto 3rem;
        }

        &__content {
            text-align: center;

            p {
                margin: 1.5rem 0;
            }
        }
    }
}