header {
  padding-top: 3rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;

  &__image {
    margin-top: 3rem;
    width: 22rem;
    height: 20rem;
    position: relative;
    padding: 1rem;

    &-2 {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6rem 4rem 0px;
      margin-right: 4rem;
      animation: bounce 3s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5rem);
  }
}

.section {
  display: flex;
  justify-content: space-around;
}

/* ========= BTNS ========== */
.btns {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========= HEADER SOCIALS ========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 6rem;
  font-size: 1.5rem;

  &::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
  }
}

/* ========= ME ========== */

/* ========= SCROLL DOWN ========== */
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 7rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
  .header {
    &__socials,
    .scroll_down {
      display: none;
    }
  }
}
